html,body {
    color: white;
    background-color:#101922; 
}
#invis{
    color:red;
    font-weight: 800;
    font-size: 24px;
}
#message{
    height: 100px;
}

#centered{
    background: cadetblue;
    margin-top: 20vh;
    font-size: 25px;
    width: max-content;
    padding: 40px;
    border-radius: 20px;
  
}
.inpt{
    text-align: center;
    background-color: black;
    width: 200px;
    height: 50px;
}
.sbm{
    font-size: 25px;
    background: blueviolet;
}
.inpt,.sbm{    
    border-radius: 20px;
    color: white;
}
